
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root {
    --cor0: #2ecc71;
    --cor1: white;
    --cor2: #05aa47;
}


/*===================CABEÇALHO===================*/
/*LOGO*/
header #LOGO {
    cursor: pointer;
    position: relative;
    top: -10px;
    border-radius: 50%;
    padding-top: 7px;
    text-align: center;
    width: 55px;
    height: 55px;
    border: 3px var(--cor0) solid;
    font-size: 28px;
    color: var(--cor0);
    float: left;
}
/*NAV HEADER CABEÇALHO EM GERAL*/
header {
    height: 90px;
}
nav {
    padding-top: 35px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    width: 90vw;
    height: 90px;
}
ul {
    margin-right: 30px;
    display: flex;
    gap: 0.1vw;
}
header nav a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: var(--cor1);
    padding-top: 3px;
    padding-bottom: 3px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.1s ease-in-out;
}
header nav a:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    letter-spacing: 1px;
    border-radius: 30px;
    border: 1px var(--cor0) solid;
    color: var(--cor0);
    transition: 0.5s;
    cursor: pointer;
}
header li, header a {
    display: block;
    text-decoration: none;
    list-style: none;
}
/*===================CORPO MEDIO===================*/
body, html {
    height: 100%;
    min-width: 656px;
    overflow-x: hidden;
}
.bloco-1 {
    background: url(img/background-escuro.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
aside {
    width: 650px;
    margin: 140px 0px 0px 20px;
}
aside h3, aside h1, aside p, aside #sobre-mim {
    margin-bottom: 15px;
}
aside h3 {
    margin-bottom: 3px;
    font-size: 33px;
    letter-spacing: 1.5px;
    color: var(--cor1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
aside h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 58px;
    letter-spacing: 1.5px;
    color: var(--cor1);
}
aside #nome-animation {
    display: inline-block;
    color: var(--cor0);
}
aside p {
    text-indent: 10px;
    color: var(--cor1);
}
aside #sobre-mim {
    margin: 30px 0px 0px 10px;
    padding: 11px;
    width: 200px;
    letter-spacing: 1px;
    border-radius: 20px;
    border: 1px var(--cor2) solid;
    background-color: var(--cor2);
    color: var(--cor1);
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}
aside #sobre-mim:hover {
    transition: 0.5s;
    padding: 11px;
    width: 200px;
    letter-spacing: 1px;
    color: var(--cor0);
    background-color: #060B11;
    border-radius: 20px;
    border: 1px var(--cor0) solid;
    cursor: pointer;
}
/*===================RESTO===================*/
article {
    height: 60%;
}
footer {
    background-color: black;
    height: 40%;
}
/*776px*/
@media (max-width : 776px) {
    #LOGO {
        display: none;
    }
    header {
        width: 100vw;
    }
    nav {
        width: 100vw;
        height: 90px;
    }
    ul {
        display: block;
        margin: -10px auto;
    }
    header li, header a {
        padding: 1px;
        font-size: 2px;
        display: inline;
        margin: 0px 10px;
        text-decoration: none;
        list-style: none;
    }
    aside {
        display: block;
        width: 500px;
    }
    aside h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 45px;
        letter-spacing: 1.5px;
        color: var(--cor1);
    }
    aside h3 {
        margin-bottom: 3px;
        font-size: 24px;
        letter-spacing: 1.5px;
        color: var(--cor1);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    aside #sobre-mim {
        margin: 30px 0px 0px 10px;
        padding: 15px;
        width: 200px;
        letter-spacing: 1px;
        border-radius: 20px;
        border: 1px var(--cor2) solid;
        background-color: var(--cor2);
        color: var(--cor1);
        cursor: pointer;
        text-align: center;
        transition: 0.5s;
    }
    aside #sobre-mim:hover {
        transition: 0.5s;
        padding: 15px;
        width: 200px;
        letter-spacing: 1px;
        color: var(--cor0);
        background-color: RGB(13, 20, 24);
        border-radius: 20px;
        border: 1px var(--cor0) solid;
        cursor: pointer;
    }
}
@media (max-width : 555px) {
    header {
        width: 100vw;
    }
    nav {
        width: 100vw;
        height: 90px;
    }
    ul {
        width: 83vw;
        display: block;
        margin: auto;
        padding: 0px;
    }
    header li, header a {
        font-size: 1px;
        display: inline;
        margin: 0px 2px;
        text-decoration: none;
        list-style: none;
    }
    aside #sobre-mim {
        display: none;
        margin: 30px 0px 0px 10px;
        padding: 15px;
        width: 200px;
        letter-spacing: 1px;
        border-radius: 20px;
        border: 1px var(--cor2) solid;
        background-color: var(--cor2);
        color: var(--cor1);
        cursor: pointer;
        text-align: center;
        transition: 0.5s;
    }
    aside {
        display: block;
        width: 300px;
    }
    aside h1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 40px;
        letter-spacing: 1.5px;
        color: var(--cor1);
    }
    aside h3 {
        margin-bottom: 3px;
        font-size: 15px;
        letter-spacing: 1.5px;
        color: var(--cor1);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}